{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{controller_name}}!</h1>
    </div>
   
        {{ dump(personne) }}
   

<ul>
    <li>
        {{tableau[0]}}
    </li>
    <li>
        {{tableau['1']}}
    </li>
    <li>
        {{tableau['2']}}
    </li>

</ul>
<ul>
    <li>
        {{personne.id() }}
    </li>
    <li>
        {{personne.nom() }}
    </li>
    <li>
        {{personne.getPrenom() }}
    </li>

</ul>
<div>
<p> {{personne.prenom ~" "~ personne.nom }} </p>
</div>


{% set str = 'bonjour'%}

{{str}}


{% with %}
{% set x = 2 %}
{{ x }}
{# affiche 2 #}
{% endwith %}

{% with %}
{% set x = 2 %}
{{ x }}
{# affiche 2 #}
{% endwith %}


{% set y = 5 %}
{% with { x: 2 } %}
{{ x }} {{ y }}
{# affiche 2 5 #}
{% endwith %}


{% set x = 2 %}
{% set y = 5 %}
{{ x + y }}
{# affiche 7 #}

{{ 8 in tableau }}

{{ 1 not in tableau }}

{{ personne.prenom starts with 'j' }}


{% endblock %}

