{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



{% block body %}

{% include "shared/_menu.twig" ignore missing %}

<div class="example-wrapper">
    <h1>Hello {{controller_name}}!</h1>
    </div>
   
        {{ dump(personne) }}
   

<ul>
    <li>
        {{tableau[0]}}
    </li>
    <li>
        {{tableau['1']}}
    </li>
    <li>
        {{tableau['2']}}
    </li>

</ul>
<ul>
    <li>
        {{personne.id() }}
    </li>
    <li>
        {{personne.nom() }}
    </li>
    <li>
        {{personne.getPrenom() }}
    </li>

</ul>
<div>
<p> {{personne.prenom ~" "~ personne.nom }} </p>
</div>


{% set str = 'bonjour'%}

{{str}}


{% with %}
{% set x = 2 %}
{{ x }}
{# affiche 2 #}
{% endwith %}

{% with %}
{% set x = 2 %}
{{ x }}
{# affiche 2 #}
{% endwith %}


{% set y = 5 %}
{% with { x: 2 } %}
{{ x }} {{ y }}
{# affiche 2 5 #}
{% endwith %}


{% set x = 2 %}
{% set y = 5 %}
{{ x + y }}
{# affiche 7 #}

{{ 8 in tableau }}

{{ 1 not in tableau }}

{{ personne.prenom starts with 'j' }}

{% if tableau[0] > 0 %}
{{ tableau[0] }} est positif
{% endif %}

{{ tableau[0] }} est
{% if tableau[0] > 0 %}
positif
{% else %}
négatif
{% endif %}

{% for i in range(low=0, high=7, step=2) %}
{{ i }} <br>
{% endfor %}

{% for i in range('a', 'f') %}
{{ i }} <br>
{% endfor %}

{% for i in range('a', 'f') %}
{{ i }} <br>
{% endfor %}





{% for cle, valeur in tableau %}
 {{ cle ~ ' : ' ~ valeur }} <br>
{% endfor %}

{% for valeur in tableau %}
{{ loop.index0 }} : {{ valeur }}
<br>
{% endfor %}

{{ personne.prenom | length }}

{{ ' john wick! ' | trim | length }}

{{ ' john wick!' | trim('!') | length }}
{{ ' john wick! ' | trim(' ', 'right') | length }}
{{ ' john wick! ' | trim(side='left') | length }}

{{ personne.prenom | capitalize ~ " " ~ personne.nom | upper }}
{% apply upper %}
Bonjour {{ personne.prenom }}
{% endapply %}

{% apply upper %}
Bonjour {{ personne.prenom }}
{% endapply %}

{{ personne.prenom | capitalize ~ " " ~ personne.nom | upper }}

{% for elt in tableau | slice(0, 2) %}
{{ elt }}
{% endfor %}

{% for elt in tableau [0:2] %}
{{ elt }}
{% endfor %}


{% for elt in tableau [:1] %}
{{ elt }}
{% endfor %}

{% for elt in tableau [1:] %}
{{ elt }}
{% endfor %}


{{ tableau | reduce((somme, valeur) => somme + valeur) }}


{{ tableau | reduce((somme, valeur) => somme + valeur, 5) }}

{{ tableau | map(elt => elt + 2) | reduce((somme, valeur) => somme + valeur) }}

{{ 'hello <br>' }}

{{ 'hello <br>' | e }}


{{ personne.prenom matches '/^j.*n$/' }}



{{render("menu")}}




{% endblock %}

